<!--
<app-nav-bar></app-nav-bar>
<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Sudharsana</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                    <a routerLink = "home">Home</a>
            </li>
            <li>
                <a routerLink = "register">Register</a>
            </li>
            <li>
                <a routerLink = "login">Login</a>
            </li>
            <li>
                <a routerLink = "formpage">Form Page</a>
            </li>
            <li>
                <a routerLink = "table">Table</a>
            </li>
        </ul>
    </nav>

</div>
<router-outlet>
    
</router-outlet>

-->
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>